.span3
  = bootstrap_form_for(resource, :url => session_path(resource_name), :remote => true) do |f|
    %p
      %small.muted.errors

    = f.text_field :email, :class => 'span2'
    = f.password_field :password, :class => "span2"

    -if devise_mapping.rememberable?
      = f.check_box :remember_me
    
    = f.submit "Sign in", :class => 'btn', :disable_with => "Please wait..."
    
    %p.muted
      %small= link_to "Forgot your password?", new_password_path(resource_name), :remote => true

.span2
  %br
  %br
    %a.btn.btn-warning.btn-large{:href => main_app.new_guest_path, 'data-remote' => 'true', 'data-disable-with' => 'Please wait...'} Or create a free account!